PORT=4000

DATABASE_URL=postgresql://postgres.zmxlarkfnmryfdvvgans:[YOUR-PASSWORD]@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres

JWT_SECRET=f2ef4559040e5d6d8734061463ae523f6398271ae75081b1ac5e0fffee7b5018